@import url('https://fonts.googleapis.com/css2?family=Geomini:wght@200..800&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


:root{
    --a:0;
}

*{
    margin: 0;
    /* padding: 0; */
    font-family: "Roboto", sans-serif;
}

body{
    background-color: black;
    color: white;
}

.left{
    /* height: 100vh; */
    padding: 5px;
    width: 25vw;
}


.right{
    width: 75vw;
    /* height: 100vh; */ 
}

.logo {
    font-size: 32px;
    padding: 9.6px;
}

.logo > span {
    color: springgreen;
}
.library {
    position: relative;
    height: 80vh;
}
.home{
    height: 20vh;
    position: relative;
}
.home ul li{
    list-style: none;
    justify-content: center;
    display: flex;
    gap: 14px;
    align-items: center;
    width: 25.6px;
    padding-top: 14px;
}

.heading {
    align-items: center;
    display: flex;
    width: 100%;
    padding: 23px 14px;
    padding-top: 14px;
    gap: 14px;
    font-size: 13px;
}

.footer {
    display: flex;
    font-size: 10px;
    color: grey;
    gap: 13px;
    position: absolute;
    bottom: 0;
    padding: 10px 0;

}

.footer a {
    color: grey;
}


.heading img{
    width: 30px;
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: rgb(34, 34, 34);
}

.header > *{
    padding: 20px;
}

.right {
    position: relative;
    margin: 10px 5px 0px 0px;
}

.playlist {
    padding: 16px;
}

.cardContainer {
    display: flex;
    gap: 5px;
    margin: 10px;
    flex-wrap: wrap;
    overflow-y: auto;
    max-height: 60vh; 
}

.card {
    width: 157px;
    padding: 5px;
    border-radius: 5px;
    transition: background-color; 
    transition-duration: 0.5s;
    position: relative;
}

.card:hover {
    transition-duration: 0.5s;
    background-color: #252525;
}

.card > * {
    padding-top: 10px;
}

.card img {
    width: 100%;
    object-fit: contain;
}


.play {
    width: 28px;
    height: 28px;
    background-color: #1fdf64;
    border-radius: 50%;
    padding: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 88px;
    right: 17px;
    opacity: var(--a);
    transition: all 1s ease-out;
}

.playbar {
    position: absolute;
    bottom: 0;
    background-color: black;
}


.songlist {
    height: 59vh;
    overflow: auto;
    margin-bottom: 44px;
}



.songlist ul {
    padding: 0 5px;
}


.songlist ul li {
    list-style-type: decimal;
    display: flex;
    justify-content: space-between;
    gap: 12px;
    cursor: pointer;
    padding: 12px 0;
    border: 1px solid rgba(146, 143, 143, 0.491);
    margin: 5px 0;
    padding: 13px;
    border-radius: 5px;
    transition: backgroud-color;
    transition-duration: 1s;
}


.panel{
    transition: backgroud-color;
    transition-duration: 1s;
}

.panel:hover {
    transition-duration: 1s;
    background-color: rgba(146, 143, 143, 0.491);
}

.songlist .info {
    font-size: 13px;
    width: 17.917vw;
}

.info div {
    word-break: break-all;
}

.playnow {
    display: flex;
    justify-content: center;
    align-items: center;
}

.playnow span {
    font-size: 15px;
    width: 64px;
    padding: 12px;
}

.playbar {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: fixed;
    bottom: 20px;
    /* filter: invert(1); */
    /* background: #e2d9d9; */
    background-color: #252525;
    /* background-color: rgb(34, 34, 34); */
    border-radius: 10px;
    width: 90%;
    padding: 12px;
    width: 70vw;
    min-height: 40px;
}

.volume{
    display: flex;
    align-items: center;
    gap: 10px;
}

.songbuttons {
    display: flex;
    width: 100%;
    justify-content: space-between;
    /* padding-left: 10px; */
    gap: 16px;
}

.bbtn {
    cursor: pointer;

}

.seekbar {
    height: 4px;
    width: 98%;
    background: black;
    border-radius: 10px;
    /* position: absolute; */
    bottom: 8px;
    margin: 6px;
    cursor: pointer;
}
.progress {
    position: absolute;
    height: 4px;
    width: 0%;
    background: springgreen;
    border-radius: 10px;
    
    /* transition: width 0.1s linear; */
    transition: left 0.05s linear;

}

.circle {
    width: 13px;
    height: 13px;
    border-radius: 13px;
    background-color: springgreen;
    position: relative;
    bottom: 5px;
    left: 0%;
    transform: translate(-50%);
    transition: left 0.05s linear;

}

.close {
    display: none;
    filter: invert(1);
    position: relative;
    z-index: 1;
}

.names {
    width: 90%;
}

.pinfo{
    display: flex;
    width: 100%;
    gap: 10px;
    overflow: hidden;
}

.info {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.hamburger {
    display: none;
    cursor: pointer;
}

.hamburgerContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 14px;
}

@media (max-width: 1200px) {
    .left {
        position: absolute;
        left: -130%;
        transition: all .3s;
        z-index: 1;
        width: 373px;
        background-color: black;
        padding: 0;
        height: 100vh;
        position: fixed;
        top: 0;
    }

    .songinfo,
    .songtime {
        width: auto;
    }

    .left .close {
        position: absolute;
        right: 31px;
        top: 25px;
        width: 29px;
    }

    .timevol {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: column;
        gap: 13px;
    }

    .right {
        width: 100vw;
    }

    .playbar {
        width: calc(100vw - 75px); 
    }

    .seekbar {
        width: calc(100vw - 120px);
    }

    .nav{
        display: flex;
        width: 100%;
        justify-content: space-between;

    }
    .imgspace {
        display: flex;
        left: 100;
    }
    
    .hamburger {
        display: flex;
        justify-content: space-between;
    }

    .right {
        margin: 0;
    }

    .card {
        width: 30vw;
    }

    .cardContainer {
        margin: 0;
        justify-content: center;
        gap: 10px;
    }

    .close {
        display: block;
    }

    .abovebar {
        flex-direction: column;
        gap: 23px;
        align-items: center;
    }

    .cardContainer {
        max-height: unset;
        overflow-y: unset;
        margin-bottom: 35vh;
    }

    .playbar{
        right: 25px;
    }
}


@media (max-width: 500px) {
    .card {
        width: 60%;
    }

    .header>* {
        padding: 2px;
    }

    .buttons>* {
        margin: 0 6px;
    }

    .header{
        padding: 7px;
    }

    .spotifyPlaylists h1 {
        padding: 4px;
    }

    .library{
        height: 85vh;
    }

    .left{ 
        width: 100vw;
    }

 

    
}

@media (max-width: 400px){
    .buttons{
        gap: 2px;
    }
    .range > input {
        width: 70px;
    }
}